.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.user-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center ;
  
  padding: 1rem;
}
.user-card {
  border-radius: 6px;
  background-color: rgb(100, 15, 67);
position: relative;
  width: 300px;
  color: white;
  margin: 1rem;
  box-shadow: 0px 8px 20px 0px rgb(0, 0, 0 / 5%);
}
form{
  border-radius: 6px;
  font-size: 20px;
  width: calc(100vw / 1,8);
  
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color:rgb(100, 15, 67) ;
}
form > input{
padding: 0,7em;
margin: 8px 0;
width: 250px;
height: 25px;
display: inline-block;
border: 1px solid #cfcfcf;
border-radius: 4px;
}
.foter{
  background: rgb(100, 15, 67);
  color: #F4F4F9;
  font-family: monospace;
  font-weight: 300;
  letter-spacing: 2.5px;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 8%;
}
